<div class="review_new">
  <%= form_for @review do |f| %>
    <div class="memo">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field" id="star">
      <%= f.label :star %>
      <%= f.hidden_field :star, id: :review_star %>
    </div>
    <div class="memo">
      <%= f.label :memo %>
      <%= f.text_area :memo %>
    </div>
    <button>
      <%= f.submit "レビュー評価" %>
    </button>
  <% end %>
</div>
